language: perl

perl:
  - '5.14'
  - '5.26'

env:
  matrix:
  - COVERALLS=true  DB=mysql
  - COVERALLS=false DB=mysql
  global:
    secure: LliYZDvkIWwQndhXWK8LJ0xHOLVdEnRGo5fWe0ExGlqvBb41mUsmLv0BsZTZfIon+GLO5MGYJSFuJJd+XIkNuwil5zzdvmmeyiuW5lG9tlUXy2w2V+6yj83Tr7w/zRedOK/EnbY/DytrG0LttyKWqkWLwUpdm5PTRIKvTG/KJqw=
    
sudo: false

addons:
  apt:
    packages:
    - unzip

services:
  - mysql

before_install:
  - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-test.git
  - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl.git
  - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-variation.git
  - wget https://github.com/bioperl/bioperl-live/archive/bioperl-release-1-2-3.zip
  - unzip bioperl-release-1-2-3.zip

install:
  - cpanm -v --installdeps --with-recommends --notest --cpanfile ensembl/cpanfile .
  - cpanm -v --installdeps --with-recommends --notest --cpanfile ./cpanfile .
  - cpanm -n Devel::Cover::Report::Coveralls
  - cpanm -n DBD::SQLite
  - cpanm -n Data::Dumper
  - cp travisci/MultiTestDB.conf modules/t/MultiTestDB.conf
  - mysql -u root -h localhost -e 'GRANT ALL PRIVILEGES ON *.* TO "travis"@"%"'

script: "./travisci/harness.sh"

jobs:
  include:
  - stage: trigger_dependent_builds
    script: "./travisci/trigger-dependent-build.sh"

matrix:
  exclude:
  # - perl: '5.14'
  #   env: COVERALLS=true  DB=mysql
  - perl: '5.26'
    env: COVERALLS=true DB=mysql

notifications:
  email:
    on_failure: always
  slack:
    secure: XHFLg95UwfMc8amvt68mqMrBW7encmWI5A0e66t1SQv9NhzOvRMrJfJejrNXO5vsBdALXhPaHozhd8a44rlqUJv0hNz+Ti7LoHQB4K+7ou5f6VgMYL4Bk7mswlNcynbt2CMzgyJ+XyjEGRT0dIjJZ6zoHaWGuJs3LLTLzBLn3bM=
    on_failure: always
    on_success: change
