#!/bin/sh

# Copyright [1999-2015] Wellcome Trust Sanger Institute and the EMBL-European Bioinformatics Institute
# Copyright [2016-2017] EMBL-European Bioinformatics Institute
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


#. ~/src/ensembl-efg/scripts/.efg

USER=$1
shift
PASS=$1
shift

species="mus_musculus"
dbname="${species}_funcgen_71_38"
host=mysql_host
port=3306


cmd="perl $EFG_SRC/scripts/external_features/load_external_features.pl\
	-type  vista\
	-species $species\
	-port $port\
	-user $USER\
	-host $host\
	-clobber\
	-dbname $dbname\
	-pass $PASS\
  -tee\
	$@"

#-old_assembly NCBIM37\
#-new_assembly GRCm38\


echo $cmd 
$cmd


exit

