[% MACRO box_diagram_on_window_load BLOCK %]

  var bp = document.getElementById('boxplot_1').getContext('2d');
  new Chart(bp, {
      type: 'boxplot',
      data: boxplot_data,
      options: {
          responsive: true,
          legend: {
              display: true,
              position: 'bottom',
          },
          scales: {
            xAxes: [
              {
                // Specific to Bar Controller
                categoryPercentage: 0.9,
                barPercentage: 0.8
              }
            ],
            yAxes: [
              {
                display: true,
                type: 'arrayLogarithmic',
                ticks: {
                    suggestedMin: 50,
                    suggestedMax: 100
                },
              },
            ]
          },
          title: {
              display: false,
          }
      }
  });

[% END %]

[% MACRO box_diagram BLOCK %]

<h3><a name="quantiles">Quantiles of lengths of regulatory features by feature type</a></h3>

<div style="width: 80%;">
    <canvas id="boxplot_1"></canvas>
</div>

<p>
  The bottom whisker is the length of the shortest regulatory feature of that type, the box begins at the end of the first quantile and ends at the end of the third quantile. The line in the box is the median. The top whisker is the maximum length of a regulatory feature of that type.
</p>

<script src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/ChartBoxPlot/utils.js"></script>
<script src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/ChartBoxPlot/Chart.BoxPlot.js" type="text/javascript"></script>

<script>
    var color = Chart.helpers.color;
    
    var boxplot_data = {
        labels: [
             "CTCF Binding Site",
             "Enhancer",
             "Promoter Flanking Region",
             "Promoter",
             "TF binding site",
             "Open chromatin",
        ],
        datasets: [
          {
              label: 'Previous Regulatory Build',
              borderWidth: 2,
              backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
              borderColor: window.chartColors.blue,
              data: [
                {
                  min:        [% regulatory_build_statistics_adaptor_previous_version.fetch_ctcf_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor_previous_version.fetch_ctcf_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor_previous_version.fetch_ctcf_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor_previous_version.fetch_ctcf_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor_previous_version.fetch_ctcf_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor_previous_version.fetch_ctcf_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor_previous_version.fetch_ctcf_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor_previous_version.fetch_enhancer_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor_previous_version.fetch_enhancer_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor_previous_version.fetch_enhancer_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor_previous_version.fetch_enhancer_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor_previous_version.fetch_enhancer_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor_previous_version.fetch_enhancer_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor_previous_version.fetch_enhancer_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_flanking_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_flanking_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_flanking_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_flanking_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_flanking_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_flanking_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_flanking_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor_previous_version.fetch_promoter_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor_previous_version.fetch_tf_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor_previous_version.fetch_tf_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor_previous_version.fetch_tf_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor_previous_version.fetch_tf_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor_previous_version.fetch_tf_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor_previous_version.fetch_tf_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor_previous_version.fetch_tf_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor_previous_version.fetch_open_chromatin_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor_previous_version.fetch_open_chromatin_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor_previous_version.fetch_open_chromatin_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor_previous_version.fetch_open_chromatin_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor_previous_version.fetch_open_chromatin_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor_previous_version.fetch_open_chromatin_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor_previous_version.fetch_open_chromatin_q4.value %],
                },
              ]
          },
          {
              label: 'Current Regulatory Build',
              borderWidth: 2,
              backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
              borderColor: window.chartColors.red,
              data: [
                {
                  min:        [% regulatory_build_statistics_adaptor.fetch_ctcf_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor.fetch_ctcf_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor.fetch_ctcf_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor.fetch_ctcf_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor.fetch_ctcf_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor.fetch_ctcf_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor.fetch_ctcf_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor.fetch_enhancer_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor.fetch_enhancer_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor.fetch_enhancer_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor.fetch_enhancer_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor.fetch_enhancer_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor.fetch_enhancer_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor.fetch_enhancer_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor.fetch_promoter_flanking_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor.fetch_promoter_flanking_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor.fetch_promoter_flanking_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor.fetch_promoter_flanking_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor.fetch_promoter_flanking_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor.fetch_promoter_flanking_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor.fetch_promoter_flanking_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor.fetch_promoter_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor.fetch_promoter_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor.fetch_promoter_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor.fetch_promoter_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor.fetch_promoter_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor.fetch_promoter_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor.fetch_promoter_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor.fetch_tf_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor.fetch_tf_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor.fetch_tf_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor.fetch_tf_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor.fetch_tf_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor.fetch_tf_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor.fetch_tf_q4.value %],
                },
                {
                  min:        [% regulatory_build_statistics_adaptor.fetch_open_chromatin_q0.value %],
                  whiskerMin: [% regulatory_build_statistics_adaptor.fetch_open_chromatin_q0.value %],
                  q1:         [% regulatory_build_statistics_adaptor.fetch_open_chromatin_q1.value %],
                  median:     [% regulatory_build_statistics_adaptor.fetch_open_chromatin_q2.value %],
                  q3:         [% regulatory_build_statistics_adaptor.fetch_open_chromatin_q3.value %],
                  max:        [% regulatory_build_statistics_adaptor.fetch_open_chromatin_q4.value %],
                  whiskerMax: [% regulatory_build_statistics_adaptor.fetch_open_chromatin_q4.value %],
                },
              ]
          }
        ]
    };

</script>

[% END %]