<!DOCTYPE html>
<html>

<head>
    <title>Regulatory build</title>
<link rel="stylesheet" type="text/css" href="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/datatables.css"/>

<script src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/Chart.bundle.js"></script>
<script src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/utils.js"></script>

<script type="text/javascript" language="javascript" src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/jquery-1.12.4.js"></script>

<script type="text/javascript" src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/datatables.js"></script>

</head>

<body>

<h1>Regulatory build</h1>

<p>
    This report is based 
</p>

<ul>
  <li>
    on the database <em>[% dbc.dbname %]</em> 
  </li>
  <li>
    on <em>[% dbc.host   %]:[% dbc.port   %]</em> 
  <li>
    on <em>[% time %]</em>.
  </li>
</ul>

<h2>Genome coverage</h2>

<div id="canvas-holder" style="width:50%">
    <canvas id="chart-area-genome-coverage-regulatory-build" />
</div>
<script>

var config = {
    type: 'pie',
    data: {
        datasets: [{
            data: [

                [% round_num( 100 * regulatory_build_statistics_adaptor.fetch_sum_length_ctcf_binding_site.value                 / ref_length ) %],
                [% round_num( 100 * regulatory_build_statistics_adaptor.fetch_sum_length_enhancer.value                          / ref_length ) %],
                [% round_num( 100 * regulatory_build_statistics_adaptor.fetch_sum_length_promoter_flanking_region.value          / ref_length ) %],
                [% round_num( 100 * regulatory_build_statistics_adaptor.fetch_sum_length_promoter.value                          / ref_length ) %],
                [% round_num( 100 * regulatory_build_statistics_adaptor.fetch_sum_length_transcription_factor_binding_site.value / ref_length ) %],
                [% round_num( 100 * regulatory_build_statistics_adaptor.fetch_sum_length_open_chromatin.value                    / ref_length ) %],
                [% 
                    round_num(
                        100 * (
                            ref_length
                            - regulatory_build_statistics_adaptor.fetch_sum_length_ctcf_binding_site.value
                            - regulatory_build_statistics_adaptor.fetch_sum_length_enhancer.value
                            - regulatory_build_statistics_adaptor.fetch_sum_length_promoter_flanking_region.value
                            - regulatory_build_statistics_adaptor.fetch_sum_length_promoter.value
                            - regulatory_build_statistics_adaptor.fetch_sum_length_transcription_factor_binding_site.value
                            - regulatory_build_statistics_adaptor.fetch_sum_length_open_chromatin.value
                        ) / ref_length 
                    )
                %]

            ],
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.orange,
                window.chartColors.yellow,
                window.chartColors.green,
                window.chartColors.blue,
                window.chartColors.purple,
                window.chartColors.gray,
            ],

        }],
        labels: [
            "CTCF Binding Site",
            "Enhancer",
            "Promoter Flanking Region",
            "Promoter",
            "TF binding site",
            "Open chromatin",
            "Not covered by regulatory build",
        ]
    },
    options: {
        responsive: true,
        legend: {
            position: 'left'
        },
        title: {
            display: 'true',
            text: 'Genome coverage of the Regulatory Build in [% species %]'
        },
        tooltips: {
            callbacks: {
                title: function(item, data) {
                    // Pick first xLabel for now
                    var title = '';

                    if (item.length > 0) {
                        if (item[0].yLabel) {
                            title = item[0].yLabel;
                        } else if (data.labels.length > 0 && item[0].index < data.labels.length) {
                            title = data.labels[item[0].index];
                        }
                    }

                    return title;
                },

                label: function(item, data) {
                    //var datasetLabel = data.datasets[item.datasetIndex].label || 'No label found';
                    var datasetLabel = data.labels[item.index] || 'No label found';
                    return datasetLabel + ': ' + data.datasets[item.datasetIndex].data[item.index] + '% of genome';
                }
            },
            mode: 'index',
            axis: 'y'
        }
    }
};

    var color = Chart.helpers.color;
    
    var barChartData = {
        labels: [
            "CTCF Binding Site",
            "Enhancer",
            "Promoter Flanking Region",
            "Promoter",
            "TF binding site",
            "Open chromatin",
        ],
        datasets: [{
            
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)',
                'rgb(0,0,139)',
                'rgb(75,0,130)',
                'rgb(0,128,128)',
                'rgb(128,0,128)',
            ],
            data: [
                '[% regulatory_build_statistics_adaptor.fetch_number_ctcf_binding_site.value %]',
                '[% regulatory_build_statistics_adaptor.fetch_number_enhancer.value %]',
                '[% regulatory_build_statistics_adaptor.fetch_number_promoter_flanking_region.value %]',
                '[% regulatory_build_statistics_adaptor.fetch_number_promoter.value %]',
                '[% regulatory_build_statistics_adaptor.fetch_number_transcription_factor_binding_site.value %]',
                '[% regulatory_build_statistics_adaptor.fetch_number_open_chromatin.value %]',
            ]
        }]
    };

    window.onload = function() {
        var ctx = document.getElementById('regulatory_build_2').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Total numbers by feature type'
                }
            }
        });
        ctx2 = document.getElementById("chart-area-genome-coverage-regulatory-build").getContext("2d");
        window.myPie = new Chart(ctx2, config);

    };

// window.onload = function() {
//     var ctx = document.getElementById("chart-area-genome-coverage-regulatory-build").getContext("2d");
//     window.myPie = new Chart(ctx, config);
// };

</script>

<h2>Total numbers by feature type</h2>

<div id="container_2" style="width: 80%;">
    <canvas id="regulatory_build_2"></canvas>
</div>

<script>
</script>


<h2>Summary</h2>

<script type="text/javascript" class="init">

$(document).ready(function() {
    $('#regulatory_build_1').DataTable();
} );

</script>

<table id="regulatory_build_1" class="display" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Type</th>
        <th>Total length in bp</th>
        <th>Number of features</th>
        <th>Average length</th>
    </tr>
</thead>

<tbody>
<tr>
    <td>CTCF</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_sum_length_ctcf_binding_site.value ) %]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_number_ctcf_binding_site.value ) %]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_average_length_ctcf_binding_site.value ) %]</td>
</tr>
<tr>
    <td>Enhancer</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_sum_length_enhancer.value )%]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_number_enhancer.value ) %]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_average_length_enhancer.value ) %]</td>
</tr>
<tr>
    <td>Promoter Flanking</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_sum_length_promoter_flanking_region.value )%]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_number_promoter_flanking_region.value ) %]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_average_length_promoter_flanking_region.value ) %]</td>
</tr>
<tr>
    <td>Promoter</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_sum_length_promoter.value )%]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_number_promoter.value ) %]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_average_length_promoter.value ) %]</td>
</tr>
<tr>
    <td>Transcription Factor binding site</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_sum_length_transcription_factor_binding_site.value )%]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_number_transcription_factor_binding_site.value ) %]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_average_length_transcription_factor_binding_site.value ) %]</td>
</tr>
<tr>
    <td>Open Chromatin</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_sum_length_open_chromatin.value )%]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_number_open_chromatin.value ) %]</td>
    <td align="right">[% format_number( regulatory_build_statistics_adaptor.fetch_average_length_open_chromatin.value ) %]</td>
</tr>
</tbody>
</table>


</body>

</html>







