[% MACRO stable_id_mapping_on_window_load_code BLOCK %]

    ctx3 = document.getElementById("chart-area-stable_id_mapping").getContext("2d");
    new Chart(ctx3, stable_id_mapping_regulatory_build_config);

[% END %]

[% MACRO stable_id_mapping BLOCK %]

<h2>Stable ID Mapping</h2>

<p>
    Of the 
      [% 
        format_number( 
            regulatory_build_statistics_adaptor.fetch_stable_id_mapping_number_regulatory_features.value 
        ) 
      %] regulatory features used in stable id mapping
<ul>
    <li>
      [% 
        format_number(
            regulatory_build_statistics_adaptor.fetch_stable_id_mapping_mapped_stable_ids.value 
         ) 
      %] regulatory features 
      ([% 
        round_num( 
            100 
            * regulatory_build_statistics_adaptor.fetch_stable_id_mapping_mapped_stable_ids.value 
            / regulatory_build_statistics_adaptor.fetch_stable_id_mapping_number_regulatory_features.value 
         ) 
      %]%)
      could be mapped and 
    </li>
    <li>
      [% 
        format_number(
            regulatory_build_statistics_adaptor.fetch_stable_id_mapping_new_stable_ids.value 
         ) 
      %] regulatory features
      ([% 
        round_num( 
            100 
            * regulatory_build_statistics_adaptor.fetch_stable_id_mapping_new_stable_ids.value 
            / regulatory_build_statistics_adaptor.fetch_stable_id_mapping_number_regulatory_features.value 
        ) 
      %]%) were assigned new stable ids.
    </li>
</ul>
</p>

<div id="canvas-holder-2" style="width:50%">
    <canvas id="chart-area-stable_id_mapping" />
</div>
<script>

var stable_id_mapping_regulatory_build_config = {
    type: 'pie',
    data: {
        datasets: [{
            data: [

                [% round_num( 100 * regulatory_build_statistics_adaptor.fetch_stable_id_mapping_new_stable_ids.value    / regulatory_build_statistics_adaptor.fetch_stable_id_mapping_number_regulatory_features.value ) %],
                [% round_num( 100 * regulatory_build_statistics_adaptor.fetch_stable_id_mapping_mapped_stable_ids.value / regulatory_build_statistics_adaptor.fetch_stable_id_mapping_number_regulatory_features.value ) %],

            ],
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.blue,
            ],

        }],
        labels: [
            "New stable ids",
            "Mapped stable ids",
        ]
    },
    options: {
        responsive: true,
        legend: {
            position: 'left'
        },
        title: {
            display: 'true',
            text: 'Stable id mapping for regulatory features in [% species %]'
        },
        tooltips: {
            callbacks: {
                title: function(item, data) {
                    // Pick first xLabel for now
                    var title = '';

                    if (item.length > 0) {
                        if (item[0].yLabel) {
                            title = item[0].yLabel;
                        } else if (data.labels.length > 0 && item[0].index < data.labels.length) {
                            title = data.labels[item[0].index];
                        }
                    }

                    return title;
                },

                label: function(item, data) {
                    //var datasetLabel = data.datasets[item.datasetIndex].label || 'No label found';
                    var datasetLabel = data.labels[item.index] || 'No label found';
                    return datasetLabel + ': ' + data.datasets[item.datasetIndex].data[item.index] + '% of stable ids';
                }
            },
            mode: 'index',
            axis: 'y'
        }
    }
};

</script>

[% END %]