[generic]
species=mus_musculus

[url]
base=https://www.encodeproject.org

[efg_db]
#Connection details for the Regulation DB that includes the tracking tables
user=
pass=
host=ens-genomics1
port=3306
dbname=tracking_mus_musculus_funcgen_81_38

[dna_db]
#Connection details for sequence DB (usually the most recent core DB on ens-livemirror)
user=
pass=
host=ens-livemirror
port=3306
dbname=mus_musculus_core_80_38


[file]
input=/nfs/users/nfs_t/tj1/local/src/ensembl-funcgen/scripts/tracking/mouse_encode

[path]

# add other tables
[tables_to_copy]
meta=1
seq_region=1
status_name=1
coord_system=1

[json_root]
accession=accession
availability_date=date_released
analysis=assay_term_name
cell_type=biosample_term_name
description=description
feature_type=target->label

[life_stage]
adult=a
embryonic=e
child=c
unknown=u
postnatal=p

[age_units]
year=y
week=w
day=d

[feature_type]
Control=WCE
POLR2A=PolII
DNase-seq=DNase1
mouse-IgG-control=WCE
POLR2AphosphoS2=PolII
POLR2AphosphoS5=PolII
rabbit-IgG-control=WCE
rat-IgG-control=WCE
