#!/usr/local/bin/bash

# Copyright [1999-2015] Wellcome Trust Sanger Institute and the EMBL-European Bioinformatics Institute
# Copyright [2016-2017] EMBL-European Bioinformatics Institute
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


if [  -z "$EFG_SRC" ] || [ ! -d $EFG_SRC ]; then
   echo ":: You have not yet initialised the eFG environment"
   return	
fi

. $EFG_SRC/scripts/environments/sequencing.env

export DB_PASS=$1

if [[ ! $DB_PASS ]];  then
    echo "Need to pass a password as parameter"
    return 1
fi


### THIS IS AN EXAMPLE CONFIG FILE
### PLEASE MAKE A COPY OF THIS (e.g. my_homo_sapiens_68.sequencing)
### BEFORE ADDING ANY SPECIFIC CONFIG


export SPECIES='homo_sapiens'
#schema version of the database and has to change for each new release 
export SCHEMA_BUILD='68_37'
#filename of the fasta assmbly file
export ASSEMBLY="GRCh37_${SCHEMA_BUILD}"


#change for human
export DB_HOST=your_db_host
export DB_PORT=3306
export DB_USER=your_write_user
export DB_READ_USER=your_read_users
export DB_NAME="your_${SPECIES}_funcgen_${SCHEMA_BUILD}"

#core data base parameters with read only permissions
#Change/add to template
#mirror copy of the ensembl for internal use
export DNADB_HOST=your_dnadb_host   # e.g. ensembldb.ensembl.org
#DB name of the core database
export DNADB_NAME="${SEPCIES}_core_${SCHEMA_BUILD}"
export DNADB_USER=ensro
export DNADB_PORT=3306

#real data
export DATA_HOME=/path/to/your/work/area

#Only if need to override in general sequencing.config
#export VALID_PEAK_ANALYSIS='SWEMBL_R015 SWEMBL_R0025 CCAT_HISTONE'

_InitEnv
