#!/usr/local/bin/bash

# This is deployment/sire wide configuration
# Do not change these unless you intend to change the 
# behaviour of all instances of the pipeline environment
# To make instance specific changes you can override these defaults 
# by setting them in your instance.env file



export VALID_QUEUE_MANAGERS="LSF Local"

# Now defined dynamically in ersa_env.sh
#export SRC=$HOME/src

export ARCHIVE_DIR=/parh/to/your/warehouse/root/directory/
export DATA_HOME=/path/to/your/working/root/directory/



### Initialise/Reset Variables ###
# All vars which may be inherited from a previous environment
# All these need to be exported to persist for access by the funcs
# Never set here! Set them in your ersa_instance_config.sh 


### Output DB
export DB_USER=
export DB_RO_USER=
export DB_PASS=
export DB_HOST=
export DB_NAME=
export DB_PORT=
export LC_SPECIES=
export SPECIES=
export SPECIES_COMMON=
#export DB_HOST_LSFNAME=

### Pipeline DB
# Defaults to output DB params in ersa_env.sh. PDB_NAME will be ersa_${DB_NAME}
export PDB_USER=
export PDB_PASS=
export PDB_HOST=
export PDB_NAME=
export PDB_PORT=

#DNADB/Core DB
# Can set just DNADB_PASS to anonymous to default to using appropriate DB on ensembldb.ensembl.org
export DNADB_USER=
export DNADB_HOST=
export DNADB_NAME=
export DNADB_PORT=
export DNADB_PASS=
#export DNADB_HOST_LSFNAME=

#export REGISTRY_HOST=
#export REGISTRY_VERSION=

export DNADB_MYSQL_ARGS=
export DNADB_SCRIPT_ARGS=
export SCHEMA_BUILD=

export WORK_DIR=
export BACKUP_DIR=
export PIPELINE_OUT=

