#  LICENSE
#
#  Copyright (c) 1999-2015 The European Bioinformatics Institute and
#  Genome Research Limited.  All rights reserved.
#
#  This software is distributed under a modified Apache license.
#  For license details, please see
#
#    http://www.ensembl.org/info/about/code_licence.html
#

#DB_PASS and DNADB_PASS should be passed on the commandline

export SPECIES=HOMO_SAPIENS

export DB_USER=ensadmin
export DB_HOST=ens-genomics1
export DB_NAME=est_tracking_homo_sapiens_funcgen_81_38
export DB_PORT=3306

export DNADB_USER=ensro
export DNADB_HOST=ens-staging1
export DNADB_NAME=homo_sapiens_core_81_38
export DNADB_PORT=3306

# Only required for motif mapping
# can probably get default from core DB instead.
# Also pull it into the environemnt using direct sql?
export ASSEMBLY=GRCh38




