#!/usr/local/bin/bash

# This is deploymentwide configuration
# Do not change these unless you intend to change the 
# behaviour of all instances of the pipeline environment
# To make instance specific changes you can override these defaults 
# by setting them in your instance.env file



export VALID_QUEUE_MANAGERS="LSF Local"

#export EFG_PERL=/software/bin/perl

#Remove this, and CheckDir in InitHiveEnv
# Can't we need $EFG_SRC available in the instance file to access hive.env
export SRC=$HOME/src



### Initialise/Reset Variables ###
#all vars which may be inherited from a previous environment
#All these need to be exported to persist for access by the funcs

# It probably not necessary to reset these if they are set in _InitHiveEnv
# But have here for visibility in terms of what can be redeinfed in an instance config file

#Output DB

#USERS are also set in efg.env but can be redefined here
#export DB_USER=ensadmin
#export DB_RO_USER=ensro

export DB_PASS=
export DB_HOST=
#export RUSAGE_DB_HOST=
export DB_NAME=
export DB_PORT=
export LC_SPECIES=
export SPECIES=
export SPECIES_COMMON=
export DB_HOST_LSFNAME=

#Pipeline DB
#Defaults to output DB
#dynamic here or set explicitly in InitEnv?
export PDB_USER=
export PDB_PASS=
export PDB_HOST=
export PDB_NAME=
export PDB_PORT=
#export PDB_HOST_LSFNAME=

#DNADB/Core DB
#Only need to define these if not on ensembldb, i.e. we can't access correct
#core DB via efgdb during transcript xreffing
#Only build MYSQL_ARGS for DNADB if DNADB_NAME defined
#Or if we are dumping seq!
export DNADB_USER=
export DNADB_HOST=
export DNADB_NAME=
export DNADB_PORT=
export DNADB_PASS=
export DNADB_HOST_LSFNAME=

#export REGISTRY_HOST=
#export REGISTRY_VERSION=

### Clean only args! 
#Never set here!
export DNADB_MYSQL_ARGS=
export DNADB_SCRIPT_ARGS=
export SCHEMA_BUILD=
#Clean generic paths/vars so we don't accidentally inherit from a previous env
#These will be set and tested in the caller e.g. arrays.env analysis.env etc.
export DATA_HOME=
export WORK_DIR=
export BACKUP_DIR=
export PIPELINE_OUT=

