#!/usr/local/bin/bash

# This is deploymentwide configuration
# Do not change these unless you intend to change the 
# behaviour of all instances of the pipeline environment
# To make instance specific changes you can override these defaults 
# by setting them in your instance.env file



#hugemem actually has 192GB, but we've set it to 185 for safety
export MAX_HUGE_MEM=185000
#Set this lower than 15800 as will pend forever on normal if farm is busy
export MAX_NORMAL_MEM=15000

export HUGEMEM_QUEUE=hugemem
#export VLONG_QUEUE=basement
export VLONG_QUEUE=yesterday
export NORMAL_QUEUE=normal


#Add more here from pipeline.env and potentially arrays.config?
