#!/usr/local/bin/bash

# This is deploymentwide configuration
# Do not change these unless you intend to change the 
# behaviour of all instances of the sequence pipeline
# To make instance specific changes you can override these defaults 
# by setting them in your instance.env file

### Define constants ###

export VALID_PEAK_ANALYSIS='SWEMBL_R015 SWEMBL_R0025 CCAT_HISTONE'

export BIN_DIR=/software/ensembl/funcgen
#extend PATH holding further scripts and binaries needed 
#(see documentation to see which binaries you need)
#Most binaries should be on the same place...
export PATH=$PATH:$BIN_DIR

#For fastacmd and others from that package (for the pwm_mappings pipeline)
export PATH=$PATH:$BIN_DIR/exonerate

#Set this by species? Or assume one for all?
export DATA_HOME=/lustre/scratch103/ensembl/funcgen

#Tracking DB - pass always needs to be passed as argument
#export TRACKDB_HOST=ens-genomics1
#export TRACKDB_NAME=efg_data_tracking
#export TRACKDB_USER=ensadmin
#export TRACKDB_PORT=3306

#R environment is exported in efg.config unless you want to redefine it here
