#!/usr/local/bin/bash

if [  -z "$EFG_SRC" ] || [ ! -d $EFG_SRC ]; then
   echo ":: You have not yet initialised the eFG environment"
   return	
fi

. $EFG_SRC/scripts/environments/sequencing.env

export DB_PASS=$1

if [[ ! $DB_PASS ]];  then
    echo "Need to pass a password as parameter"
    return 1
fi

export SPECIES="homo_sapiens"
export ASSEMBLY='GRCh37_63_37'
export SCHEMA_BUILD='64_37'

export DB_HOST=ens-genomics1
export DB_PORT=3306
export DB_USER=ensadmin
export DB_READ_USER=ensro
export DB_NAME=ds19_test_homo_sapiens_funcgen_64_37

#Change/add to template
export DNADB_HOST=ens-livemirror
export DNADB_NAME=homo_sapiens_core_63_37
export DNADB_USER=ensro
export DNADB_PORT=3306

export DATA_HOME=/lustre/scratch101/ensembl/ds19/test

#Only if need to override in general sequencing.config
#export VALID_PEAK_ANALYSIS='SWEMBL_R015 SWEMBL_R0025 CCAT_HISTONE'

_InitEnv
